:root {
    --bg: #eee9d5;
    --blue: #123042;
    --main-font: 'Encode Sans Expanded', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: var(--main-font);
    background-image: url('../imgs/bg.png'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--bg); 
}

